* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    
}
input {
    border-radius: 0.3rem;
    border: transparent;
    border: solid 1px;

}
/*
body{
        justify-items: center;
        align-items: center;
        align-content: center;
}
form{
    align-items: center;
    align-content: center;
}*/
